<!-- Page content -->
<div class="row">
  <div class="col-xl-8">
    <div class="card card-header border-0">

      <table id="test" class="table align-items-center table-flush display nowrap" style="width:100%">
        <!--TODO: empty result condition-->
        <thead class="thead-light">
          <tr>
            {{#each fields}}
            <th>{{name}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>

          {{#if highestGrossing}}
          {{#each data}}
          <tr>
            <td>{{title}}</td>
            <td>{{gross_income}}</td>

          </tr>
          {{/each}}
          {{/if}}

          {{#if topRatedMovies}}
          {{#each data}}
          <tr>
            <td>{{title}}</td>
            <td>{{vote_average}}</td>
            <td>{{vote_count}}</td>
            <td>{{vote_score}}</td>
          </tr>
          {{/each}}
          {{/if}}

          {{#if mostProducedGenres}}
          {{#each data}}
          <tr>
            <td>{{name}}</td>
            <td>{{count}}</td>
          </tr>
          {{/each}}
          {{/if}}

          {{#if topRatedMovieGenres}}
          {{#each data}}
          <tr>
            <td>{{title}}</td>
            <td>{{tagline}}</td>
            <td>{{runtime}}</td>
            <td>{{release_date}}</td>
            <td>{{overview}}</td>
            <td>{{popularity}}</td>
            <td>{{vote_average}}</td>
            <td>{{vote_count}}</td>
            <td>{{budget}}</td>
            <td>{{revenue}}</td>
            <td>{{crew}}</td>
            <td>{{vote_average}}</td>
            <td>{{vote_count}}</td>
            <td>{{vote_score}}</td>
          </tr>
          {{/each}}
          {{/if}}

          {{#if topDirectorsOfAGenre}}
          {{#each data}}
          <tr>
            <td>{{name}}</td>
            <td>{{vote_average}}</td>
            <td>{{vote_score}}</td>
          </tr>
          {{/each}}
          {{/if}}

          {{#if moviesFromKeyword}}
          {{#each data}}
          <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{array_agg}}</td>
          </tr>
          {{/each}}
          {{/if}}



        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card card-header border-0">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <h3 class="class=mb-0">Filter</h3>
        </div>
        <form method="GET" id={{formTitle}} name={{formTitle}} action={{formAction}}>

          {{#if year}}
            <label class="form-control-label mt-2" for="year-input">Input Year (Empty for any year)</label>
            <input id="year-input" name="year-input" class="form-control" type="number" min="1951" max="2017"
              placeholder="Between 1951 - 2017"></input>
          {{/if}}

          {{#if genre}}
            <label class="form-control-label mt-2" for="genre-input">Genre</label>
              <select id="genre-input" name="genre-input" class="selectpicker form-control">
                <option>Action</option>
                <option>Adventure</option>
                <option>Comedy</option>
                <option>Crime</option>
                <option>Documentary</option>
                <option>Drama</option>
                <option>Horror</option>
                <option>Thriller</option>
                <option>Romance</option>
                <option>Science Fiction</option>
              </select>
          {{/if}}

          {{#if keyword}}
            <label class="form-control-label mt-2" for="keyword-input">Keyword</label>
            <input id="keyword-input" name="keyword-input" class="form-control" type="text" placeholder="e.g woman director" maxlength="50" required></input>
          {{/if}}

          <label class="form-control-label mt-2" for="limit-input">Set Limit</label>
          <input id="limit-input" name="limit-input" class="form-control" type="number" placeholder="Limit (e.g. 10)"
              min="1" max="443434343434"></input>
          

          <button class="btn btn-danger mt-4" type="submit">Submit</button>
        </form>
        <p id="error-message"></p>
      </div>
    </div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-xl-12">
    <div class="card card-header border-0">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <h3 class="class=mb-0">Filter</h3>
        </div>

        <form method="GET" id={{formTitle}} name={{formTitle}} action={{formAction}}>
          <div class="row">
            <div class="col-xl-5">
              <label class="form-control-label mb-0" for="input-year">Input Year (Empty for any year)</label>
              <input id="year-input" name="year-input" class="form-control" type="number" min="1951" max="2017"
                placeholder="Between 1951 - 2017"></input>
            </div>
            <div class="col-xl-5">
              <label class="form-control-label mb-0" for="set-limit">Set Limit</label>
              <input id="limit-input" name="limit-input" class="form-control" type="number"
                placeholder="Limit (e.g. 10)" min="1" max="443434343434"></input>
            </div>
            <div class="col-xl-2">
              <button class="btn btn-danger mt-4" type="submit">Submit</button>
            </div>
          </div>
        </form>
        <p id="error-message"></p>
      </div>
    </div>
  </div>
</div>
-->
<!--TODO: error message-->